/* 
  
  配置dialog弹窗

*/
.han-dialog-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: #1a1a1a;
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
  z-index: 99999;
}

.han-dialog-wrapper.fadeIn {
  animation: fadeIn 0.2s ease;
}

.han-dialog-wrapper.fadeOut {
  animation: fadeOut 0.2s ease forwards;
}

.han-dialog-wrapper .dialog {
  position: relative;
  width: 85vw;
  max-width: 30em;
  border-radius: 1.5em;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.han-dialog-wrapper .dialog.slideDown {
  animation: slideDown 0.2s ease;
}

.han-dialog-wrapper .dialog.slideUp {
  animation: slideUp 0.2s ease forwards;
}

.han-dialog-wrapper .dialog.scaleIn {
  animation: scaleIn 0.2s cubic-bezier(0.07, 0.89, 0.95, 1.4);
}

.han-dialog-wrapper .dialog.scaleOut {
  animation: scaleOut 0.2s cubic-bezier(0.07, 0.89, 0.95, 1.4) forwards;
}

.han-dialog-wrapper .dialog .btn {
  cursor: pointer;
}

.han-dialog-wrapper .dialog .btn:active {
  background-color: #f4f4f4;
}

.han-dialog-wrapper .dialog .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 1.8em;
}

.han-dialog-wrapper .dialog .title {
  font-size: 1.8em;
  padding: 8px;
  padding-top: 15px;
  font-weight: bold;
  text-align: center;
}

.han-dialog-wrapper .dialog .title:empty {
  display: none;
}

.han-dialog-wrapper .dialog .content {
  padding: 25px 20px;
  font-size: 16px;
  line-height: 1.2rem;
  text-align: center;
}

.han-dialog-wrapper .dialog .buttons {
  font-size: 1.6em;
  display: flex;
  flex-flow: row-reverse;
}

.han-dialog-wrapper .dialog .buttons .btn {
  flex: 1;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #ebebeb;
}

.han-dialog-wrapper .dialog .buttons .btn.confirm-btn {
  color: rgba(88, 116, 216, 1);
}

.han-dialog-wrapper .dialog .buttons .btn:hover.confirm-btn {
  color: #fff;
  transition: 0.5s all;
  background-color: rgba(88, 116, 216, 0.8);
}

.han-dialog-wrapper .dialog .buttons .btn.cancel-btn {
  color: #999;
  border-right: 1px solid #ebebeb;
}

.han-dialog-wrapper .dialog .buttons .btn:hover.cancel-btn {
  color: #ccc;
  transition: 0.5s all;
  background-color: #eee;
}

@keyframes slideDown {
  from {
    transform: translateY(-3em);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-3em);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.8);
  }
}
